<h1>About Us</h1>
<p>
  The Internal Revenue Service today announced an increase in the optional standard mileage rates for the final six months of 2011. Taxpayers may use the optional standard rates to calculate the deductible costs of operating an automobile for business and other purposes.

The rate will increase to 55.5 cents a mile for all business miles driven from July 1, 2011, through Dec. 31, 2011. This is an increase of 4.5 cents from the 51 cent rate in effect for the first six months of 2011, as set forth in Revenue Procedure 2010-51.

"This year's increased gas prices are having a major impact on individual Americans. The IRS is adjusting the standard mileage rates to better reflect the recent increase in gas prices," said IRS Commissioner Doug Shulman. "We are taking this step so the reimbursement rate will be fair to taxpayers."

There are two ways to capture auto expense when filing taxes.
1) you can enter your automobile as a depreciating asset of the company. Then figure out around how many miles you drive per year and the percentage of our total miles. Keep your receipt for all things related to that automobile. For example, gas, parking, tolls, maintenance, repairs, car washes. Then totaling up all expenses and take the % of that for your automobile expense.
2) track your mileage for every business related trip you take. The IRS requires you to write down these items for every trip.

-Starting odometer

-Ending odometer

-date and time of trip

-purpose of trip

-from destination

-to destination

-total mileage

I am an independent contractor with my own S-Corp. My accountant is always hounding me on keeping a mileage log so I can expense my mileage come tax time. But like all self employed contractors, there's no easy way to track miles. I found this new product available on the iPhone which allows me to track my miles using GPS called Billable Mileage. Their website is http://www.billablemileage.com.

Here are some of the features of Billable Mileage.

-auto increment of odometer

-allows you to set up different purposes for your trips, business, personal, charity, medical

-defaulting your to and from location using Geocoder through iPhone's GPS.

-emailing trips in different formats, csv, html, etc..

-defaulting the start and stop times of each trip

-auto-calculation of the total miles per trip

-graphing capabilities

With this app I'm able to capture all my mileage for business without much effort. Most of the required fields are filled out for me, so all I do is start trip before I drive and End trip once I arrive.
I highly recommend this application to everyone who needs to expense mileage.
<a href="http://www.billablemilage.com">Billable Mileage</a>.
</p>
